{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}

  <h1>
    TODO list
    <a
      href="{% url 'todo_list_app:task-create' %}"
      class="btn btn-primary link-to-page"
    >
      Add task
    </a>
  </h1>

  <ul class="list-group list-group-flush">
  {% for task in task_list %}
    <li class="list-group-item">
    <ul>
      <li><strong>{{ task.content }}</strong>

      {% if task.task_status is True %}
        <strong style="color: green">Done</strong>
        <a href="{% url 'todo_list_app:change_task_status' pk=task.id %}"
           class="btn btn-secondary link-to-page"
        >
          Undo
        </a>
      {% else %}
        <strong style="color: red">Not done</strong>
        <a href="{% url 'todo_list_app:change_task_status' pk=task.id %}"
           class="btn btn-success link-to-page"
        >
          Complete
        </a>
      {% endif %}

      </li>
      <li>
      Created: {{ task.datetime }}
      </li>
      <li>
        Tags:
        <a href="{% url 'todo_list_app:task-update' pk=task.id %}">Update</a>
        <a href="{% url 'todo_list_app:tag-delete' pk=task.id %}">Delete</a>
        <ul>
          {% for tag in task.tags.all %}
            <li>{{ tag.tag_name }}</li>
          {% empty %}
            There are no tags
          {% endfor %}

        </ul>
      </li>
    </ul>
    </li>
    {% empty %}
    There are no tasks
  {% endfor %}
  </ul>

{% endblock %}
